@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="inputs">
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="message" placeholder="Message">
    </div>
    <input type="button" id="send" value="Send" />
    
    <ul id="messages"></ul>
</div>